<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Slips7ream.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Slips7ream.My.MySettings>
            <setting name="TempDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x86WhiteList" serializeAs="String">
                <value>Windows6.2-KB2764913-x86
Windows6.2-KB2764916-x86
Windows6.3-KB2849697-x86
Windows6.3-KB2849696-x86</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>440, 480</value>
            </setting>
            <setting name="DefaultISOLabel" serializeAs="String">
                <value>GRMCULFRER_EN_DVD</value>
            </setting>
            <setting name="DefaultFS" serializeAs="String">
                <value>ISO 9960</value>
            </setting>
            <setting name="Priority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DefaultSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitVal" serializeAs="String">
                <value />
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="AutoISOLabel" serializeAs="String">
                <value>True</value>
            </setting>
        </Slips7ream.My.MySettings>
    </userSettings>
</configuration>
